<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="PATCH",action="/update">
        <input type ="number" name="id" placeholder="enter id"/><br><br>
        <input type ="text" name="gender" placeholder="enter gender"/><br><br>
        <input type ="text" name="name" placeholder="enter name"/><br><br>
        <input type ="number" name="contact" placeholder="enter contact"/><br><br>
        <input type ="text" name="address" placeholder="enter address"/><br><br>
        <input type ="text" name="photoUrl" placeholder="enter photoUrl"/><br><br>
        <button type="submit">update</button>
    </form>
</body>
</html>